:root {
    --primary-color-light: rgb(255, 255, 255);
    --secondary-color-light: rgb(255, 255, 255);
    --column-color-light: rgb(255, 255, 255);
    --text-color-light: #2b2626;
    --text-pogressbar-light: #6b6b6b;

    --primary-color-dark: rgb(0, 0, 0);
    --secondary-color-dark: rgb(0, 0, 0);
    --column-color-dark: rgb(0, 0, 0);
    --text-color-dark: #ffffff;
    --text-pogressbar-dark: rgb(255, 255, 255);

    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --column-color: var(--column-color-light);
    --text-color: var(--text-color-light);
    --text-pogressbar: var(--text-pogressbar-light);
    --font-family: 'Robot', monospace;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.container {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    /*background-color: var(--column-color);*/
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/colour/technology-background-design-in-white-color-free-vector.jpg'); /* Reemplaza 'images/background.jpg' con la ruta a tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: -1; /* Asegura que la imagen esté detrás del contenido del contenedor */
    opacity: 0.25; /* Ajusta la opacidad de la imagen */
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 20px; /* Aumenta el relleno superior e inferior */
    /*background-color: var(--primary-color);*/
    color: var(--text-color);
}
.icon-group {
    display: flex;
    justify-content: space-between;
}

.icon-group-2 {
    padding-top: 40px;
    display: flex;
    justify-content:space-around;
}

.icon-group-3 {
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0 0 0px 0; /* Agrega un margen inferior */
    font-size: 2em;
}

.header p {
    margin: 10px 0 0 0; /* Agrega un margen superior */
    font-size: 1.2em;
}

.img-background-1 {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px 10px 10px 10px; /* Redondea solo la parte superior */
    margin-right: 10px;
}

.img-background {
    background-color: #fff;
    padding: 10px;
}

.content {
    margin: 20px;
    line-height: 1.6;
}

a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: inherit; 
}

.tech-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tech-icon-2 {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.tech-icon-3 {
    width: 170px;
    height: 120px;
    margin-right: 10px;
}

.tech-icon-4 {
    width: 250px;
    height: 120px;
    margin-right: 10px;
}

.linkedin-icon {
    width: 30px;
    height: 30px;
}


#AboutMe, #Contact{
    padding: 10px;
}

#Contact.tab-content p {
    padding: 5px; /* Ajusta este valor a tu gusto */
}

.calendly{
    padding-left: 10px;
    width: 100px;
    height: 50px;
}

.languages {
    margin: 10px;
}

table {
width: 100%;
border-collapse: collapse;
}

td {
padding: 8px;
/*border: 1px solid var(--secondary-color);*/
}

.progress-bar {
width: 100%;
height: 20px;
/*background-color: var(--secondary-color);*/
position: relative;
overflow: hidden;
border-radius: 10px; /* Añade bordes redondeados */
box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Añade una sombra */
}

.progress-bar::after {
content: '';
display: block;
height: 100%;
background-color: var(--text-pogressbar);
position: absolute;
top: 0;
left: 0;
animation: progressAnimation 2s ease forwards;
border-radius: 10px;
}

@keyframes progressAnimation {
from {
    width: 0%;
}
to {
    width: calc(var(--progress) * 20%);
}
}


.progress-bar span {
    position: absolute;
    left: 10px; /* Ajusta el valor según tu preferencia */
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-color);
    z-index: 1;
    }
    
    td:first-child {
        width: 140px; /* Ajusta el ancho de la columna de nombres de programación */
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
    
    .tab-links {
        display: flex;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
    
    .tab-link {
        background: none;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 18px;
        color: var(--text-color);
        transition: color 0.3s ease;
        outline: none;
    }
    
    .tab-link:hover {
        color: var(--secondary-color);
        background-color: var(--text-color);
        border-radius: 10px 10px 0 0; /* Redondea solo la parte superior */
    }
    
    .tab-link.active {
        color: var(--secondary-color);
        background-color: var(--text-color); /* Añade un color de fondo diferente para el tab activo */
        border-radius: 10px 10px 0 0; /* Redondea solo la parte superior */
    }
    
    .tab-link.active:hover {
        background-color: var(--text-color);/* Cambia el color de fondo a blanco cuando se pasa el mouse sobre el tab activo */
    }
    /*
    .bold-text {
        font-weight: bold; /* Hace que el texto sea negrita 
    }
    */
    .theme-switch-wrapper {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }
    
    .theme-switch input {
        display:none;
    }
    
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
    }
    
    input:checked + .slider {
        background-color: #000000;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

/* Estilos para pantallas de tamaño medio (por ejemplo, tablets) */
@media screen and (max-width: 768px) {
    .container {
      padding: 0 20px; /* Reduce el padding */
    }
  
    .header {
      flex-direction: column; /* Cambia la dirección del flex */
      padding: 20px 10px; /* Reduce el padding */
    }
  
    #AboutMe, #Contact{
        padding-top: 0px;
    }

    .languages {
        margin-top: 0px;
    }

    .icon-group{
        padding-top: 20px;
        justify-content:space-around;
        align-items: center; /* Centra los elementos */
    }

    .icon-group-2{
        padding-top: 5px;
        justify-content:space-around;
        align-items: center; /* Centra los elementos */
    }

    .icon-group-3 {
        display: flex;
        align-items: center;
    }

.header h1 {
    font-size: 1.5em; /* Reduce el tamaño de la fuente */
}

.header p {
    font-size: 1em; /* Reduce el tamaño de la fuente */
}

.tech-icon {
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

.tech-icon-2 {
    width: 60px;
    height: 60px;
    margin-right: 2px;
}

.tech-icon-3 {
    width: 85px;
    height: 60px;
    margin-right: 2px;
}

.tech-icon-4 {
    width: 125px;
    height: 60px;
    margin-right: 2px;
}

.linkedin-icon {
    width: 30px;
    height: 30px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}

.tab-links {
    flex-direction: column; /* Cambia la dirección del flex */
}
}

/* Estilos para pantallas de tamaño pequeño (por ejemplo, teléfonos móviles) */
@media screen and (max-width: 480px) {
    .container {
        padding-left: 20px;
        padding: 0 20px; /* Reduce el padding */
      }
    
      .header {
        flex-direction: column; /* Cambia la dirección del flex */
        padding: 20px 0px; /* Reduce el padding */
      }
    
      #AboutMe, #Contact{
          padding-top: 0px;
      }
  
      .languages {
          margin-top: 0px;
      }
  
      .icon-group{
          padding-top: 20px;
          justify-content:space-around;
          align-items: center; /* Centra los elementos */
      }
  
      .icon-group-2{
          padding-top: 5px;
          justify-content:space-around;
          align-items: center; /* Centra los elementos */
      }
  
      .icon-group-3 {
          display: flex;
          align-items: center;
      }
  
  .header h1 {
      font-size: 1.5em; /* Reduce el tamaño de la fuente */
  }
  
  .header p {
      font-size: 1em; /* Reduce el tamaño de la fuente */
  }
  
  .tech-icon {
      width: 50px;
      height: 50px;
      margin-right: 2px;
  }
  
  .tech-icon-2 {
      width: 60px;
      height: 60px;
      margin-right: 2px;
  }
  
  .tech-icon-3 {
      width: 85px;
      height: 60px;
      margin-right: 2px;
  }
  
  .tech-icon-4 {
      width: 125px;
      height: 60px;
      margin-right: 2px;
  }
  
  .linkedin-icon {
      width: 30px;
      height: 30px;
  }
  
  
  .grid-container {
      display: grid;
      grid-template-columns: 1fr;
  }
  
  .tab-links {
      flex-direction: column; /* Cambia la dirección del flex */
  }
  }
  